*.o
*.asm
*.d
*.sym
_*
kernel
kernelmemfs
user1
userfs
usertests
xv6.img
fs.img
xv6memfs.img
vectors.S
bochsout.txt
bootblock
bootother
bootother.out
parport.out
fmt
entryother 
initcode 
initcode.out
mkfs 
.gdbinit
